<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="forum" packages="">
  <Appenders>
    <RollingRandomAccessFile name="RollingRandomAccessFile" 
    	fileName="E:\Forum system\logs\app.log" 
    	filePattern="E:\Forum_system\logs\$${date:yyyy-MM}\app-%d{yyyy-MM-dd-HH}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="RollingRandomAccessFile"/>
    </Root>
  </Loggers>
</Configuration>