<script>
$(document).ready(function() {
    setTimeout(function(){
    	$('#SuppressScrollX').perfectScrollbar({suppressScrollX: true});
    },0)
} );
</script>

<script type="text/html" id='newsADMIN-template'>
		<div class="close_box">X</div>
    	<h3 class="ui-widget-header"><%= modelData.header %> (Top 10)</h3>
<div id="newsContainer">
<div id="SuppressScrollX" class="contentHolder">
<div class="content">
 			<%
                _.each([0,1, 2, 3,4,5,6,7,8,9],function(item){
				if(this[item] !== undefined){
            %>
				<div class="row">&#10149;  <a href="#" onclick="loadModuleDetails(this,'newsDetails');"  title="<%= this[item].newsTitle %>" rel="<%= this[item].frmId %>"><%= this[item].newsTitle %></a></div>
			<%
               }
                },modelData.dataList);
            %>
</div>
</div>
			<%
                _.each([10],function(item){
				if(this[item] !== undefined){
            %>
					<div id="tabMore"><a href="#" onclick="loadModule('newsList');">Click to see the complete list</a></div>
			<%
				}
                },modelData.dataList);
            %>
</div>
</script>